<header>
    <hr class="top-line">

    <nav>
      <img id="menu-icon" src="../../public/images/menu.svg" alt="" onclick="openMenu()">

      <nav id="mobile-nav" class="hidden">

        <div class="menu">
          <hr class="top-line">
          <ion-icon name="close" id="closeMenu" onclick="closeMenu()"></ion-icon>

          <div class="enter">
            
            <button class="sign-in">Cadastro</button>
          </div>

          <ul>
            <a href="carrinho.html">
              <li>Carrinho</li>
            </a>
            <a href="">
              <li>Mentoria</li>
            </a>
            <a href="cursos.html">
              <li>Cursos</li>
            </a>
          </ul>
          <ul>
            <span>Mais Populares</span>
            <a href="">
              <li>Marketing</li>
            </a>
            <a href="">
              <li>Programação</li>
            </a>
            <a href="">
              <li>Web Design</li>
            </a>
          </ul>

          <ul>
            <a href="">
              <li>Ajuda</li>
            </a>
            <a href="">
              <li>Configurações
              <li>
            </a>
          </ul>

        </div>
      </nav>


      <!-- Logo -->
      <img id="logo" onclick="window.location.href = 'index.html'" src="../../public/images/logo.png" alt="LadieWork">


      <!-- Navigation Links -->
      <div class="nav-items">
        <a href="carrinho.html">
          <ion-icon name="cart-outline"></ion-icon>
        </a>
        <ul>
          <li><a href="pages/mentoria.html">Mentoria</a></li>
          <li><a href="cursos.html">Cursos</a></li>
        </ul>


        <button class="login">Login</button>
        <button class="cadastro">Cadastro</button>
      </div>

      <!-- Mobile Navigation List -->


  </header>
