<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&family=Titillium+Web:wght@700&display=swap"
    rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>

  
  <link rel="stylesheet" href="../../../public/css/cadastro.css">


</head>
<body>
    <main>
        <form >
            <div class="form-step active">
                <h2>Que bom ver você de novo!</h2>
            
                <div class="content">
                  <div class="input-wrapper">
                    <label for="email">E-mail</label>
                    <input id="email" name="email" type="email" placeholder="Digite seu e-mail"  required>
                  </div>

                  <div class="input-wrapper">
                    <label for="password">Senha</label>
                    <input id="password" name="password" type="password" placeholder="Digite sua senha" required>
                  </div>
                  <a href="">Esqueceu a senha?</a>
                </div>

                <div class="button-wrapper justify-end">
                  <button type="submit" class="btn" >Entrar</button>
                </div>
              <span class="ou">ou</span>  
                <span class="donthave">Não tem uma conta? <a href="cadastro.html">Inscreva-se</a></span>
              </div>
        </form>
    

    </main>
</body>

</html>