

body h3 {
    margin-left: 18%;
    margin-top: 30px;
    transition: all 0.5s ease;
}


h1 {
    font-size: 1.4rem;
    text-align: left;
    margin-left: 18%;
    margin-top: 33px;
    font-weight: 600;
    transition: all 0.5s ease;
}


main {
    /* Estilos para a seção principal */
    display: flex;
    gap: 100px;
    width: 70%;
    margin: 40px auto;
    justify-content: center;
    transition: all 0.5s ease;
}

main h3 {
    /* Estilos para o título "Mais cursos para você" dentro da seção principal */
    margin-left: 18%;
    margin-top: 30px;
    transition: all 0.5s ease;
}

main ul {
    /* Estilos para a lista de cursos comprados */
    overflow-y: scroll;
    width: 690px;
    overflow-x: hidden;
    transition: all 0.5s ease;
}

.purchased-course {
    /* Estilos para cada curso comprado na lista */
    height: 65px;
    border-bottom: 1px solid rgb(209, 209, 209);
    display: flex;
    gap: 15px;
    position: relative;
    cursor: pointer;
    margin-bottom: 20px;
    transition: all 0.5s ease;
}

.info-purchase {
    /* Estilos para as informações do curso comprado (nome do curso e autor) */
    text-align: left;
    width: 500px;
    transition: all 0.5s ease;
}

.info-purchase h2 {
    /* Estilos para o título do curso */
    font-size: 1rem;
    color: var(--cta-titles);
    font-weight: 600;
    margin-bottom: 3px;
    transition: all 0.5s ease;
}

.info-purchase p {
    /* Estilos para informações adicionais (autor, por exemplo) */
    opacity: 0.8;
    margin-bottom: 3px;
    transition: all 0.5s ease;
    font-size: 0.9rem;
    color: black;
}

.purchased-course img {
    /* Estilos para as imagens dos cursos comprados */
    width: 45%;
    object-fit: cover;
    transition: all 0.5s ease;
}

.price-and-trash {
    /* Estilos para o preço do curso e ícone de lixeira */
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: black;
}

.price-and-trash ion-icon {
    /* Estilos para o ícone de lixeira */
    font-size: 1.1rem;
    margin-left: 10px;
    margin-bottom: 5px;
}

/* Estilos para a seção de finalização da compra */
main aside {
    width: 300px;
    height: 380px;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    transition: all 0.5s ease;
}

main aside h2 {
    /* Estilos para o título "Total" */
    text-align: left;
    font-size: 1.7rem;
    color: var(--second-font-hover);
    font-weight: 700;
    padding-bottom: 5px;
    transition: all 0.5s ease;
}

main aside p {
    /* Estilos para o valor total */
    margin-top: -10px;
    font-size: 2rem;
    font-weight: 300;
    text-align: left;
    opacity: 0.8;
    transition: all 0.5s ease;
}

main aside span {
    /* Estilos para o desconto */
    font-size: 0.8rem;
    opacity: 0.8;
    max-width: 100%;
    display: block;
    text-align: left;
    transition: all 0.5s ease;
}

.apply {
    /* Estilos para o botão de aplicar desconto */
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    width: 80px;
    height: 30px;
    border: none;
    background-color: var(--primary-color);
    color: white;
    font-size: 0.8rem;
    font-weight: 700;
    transition: all 0.5s ease;
}

.hour,
.module-amount {
    /* Estilos para informações adicionais (horas, módulos) */
    margin-top: 5px 0;
    font-size: 0.9rem;
    opacity: 0.9;
    line-height: 20px;
    transition: all 0.5s ease;
}

.price-course {
    /* Estilos para o preço do curso */
    margin-left: 5px;
}

main aside button {
    /* Estilos para o botão "Finalizar compra" */
    width: 100%;
    cursor: pointer;
    height: 35px;
    text-align: center;
    background-color: var(--cta);
    color: white;
    font-size: 1rem;
    font-weight: 300;
    border-radius: 5px;
    margin: 20px 0;
    transition: all 0.5s ease;
    border: none;
}

main aside button:hover {
    /* Estilos para o botão "Finalizar compra" quando hover */
    border: none;
    color: white;
    background-color: var(--cta-hover);
    transition: background-color 0.6s ease;
}

/* Estilos para a seção "Mais cursos para você" */
.more-curses {
    margin: 40px auto;
    width: 92%;
    display: flex;
    align-items: center;
    transition: all 0.5s ease;
}


.price,
.installments {
    display: none;
    transition: all 0.5s ease;
}

hr {
    border: none;
    width: 80%;
    height: 1px;
    margin: auto;
    background-color: var(--font-color);
    transition: all 0.5s ease;
}
.more-curses {
display: flex;
height: 100px;
border: 1px solid blue;
width: 70%;
margin: auto;

}

.more-curses-info {
    margin-left: 5px;
    text-align: left;
}

.more-curses-info > p {
    font-size: 0.4rem;
}

.more-curses article {
    cursor: pointer;
    height: 100px;
    width: 400px;
    text-align: center;
    border: 1px solid red;
    display: flex;

}



.more-curses img {
    height: 100%;
    transition: all 0.5s ease;
}


.more-curses  h4 {
  font-size: 1rem;


}

.more-curses ul{
    height: 83px;
}

.more-curses p {
    font-size: 0.7rem;
    opacity: 0.8;
    text-align: left;
    margin-bottom: 5px;
    transition: all 0.5s ease;
    overflow-y: hidden;
}



.more-curses li {
    font-size: 0.8rem;
    text-align: left;
    display: block;
    background-color: rgba(128, 128, 128, 0.253);
    padding: 3px 4px;
    margin-bottom: 3px;
    border-radius: 5px;
    width: 100%;
    opacity: 0.8;
    transition: all 0.5s ease;
}

.more-curses article button {
    margin: 20px;
    width: 60%;
    font-weight: 600;
    height: 35px;
    border: 1px solid rgba(128, 128, 128, 0.808);
    border-radius: 7px;
    color: rgba(128, 128, 128, 0.808);
    cursor: pointer;
    font-size: 0.7rem;
    background-color: rgba(255, 255, 255, 0.801);
    transition: all 0.5s ease;
}

.more-curses article button:hover {
    border: none;
    color: white;
    background-color: var(--button-color);
    transition: background-color 0.6s ease;
}

.nextButton,
.prevButton {
    background: none;
    border: none;
    font-size: 3rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

.stars-icon {
    display: inline-block;
    color: var(--primary-color);
    align-self: center;
    transition: all 0.5s ease;
}

.close {
    font-size: 1.7rem;
}

.classification {
    display: block;
    display: inline;
    transition: all 0.5s ease;
}



/* MOBILE */

@media (min-width: 320px) and (max-width: 700px) {

    h1 {
        text-align: center;
        font-size: 1.4rem;
        text-decoration: underline;
        text-align: left;
        margin-top: 22px;
        font-weight: 600;
    }

    main {
        width: 100%;
        flex-direction: column-reverse;
        gap: 0;
    }

    main aside {
        height: auto;
        border-radius: 0;
        margin: auto;
        width: 100%;
        background: none;
        border-bottom: 1px solid var(--font-color);
    }

    main aside img {
        display: none;
    }

    main aside h2 {
        border: none;
        font-size: 2.6rem;
    }

    main aside p {
        border: none;
        font-size: 2.6rem;
        margin: 0;
    }

    main aside span {
        font-size: 1.4rem;
    }

    .hour,
    .module-amount {
        display: none;
    }

    main aside button {
        width: 268px;
        height: 49px;
        font-size: 1.1rem;
        margin: 30px 0;
    }

    ul {
        width: 90%;
        margin: auto;
        overflow-y: auto;
    }

    .purchased-course {
        width: 89%;
        margin: 30px 0;
        height: auto;
        background: none;
        flex-direction: column-reverse;
        gap: 0;
        position: relative;
        border-bottom: 1px solid var(--font-color);
        border-radius: 0;
        overflow-y: hidden;
    }

    .purchased-course ion-icon {
        font-size: 3rem;
    }

    .purchased-course img {
        width: 100%;
        height: auto;
    }

    .info-purchase h2 {
        font-size: 2.4rem;
        margin-top: 20px;
    }

    .info-purchase {
        padding-top: 50px;
    }

    .purchased-course p {
        display: none;
    }

    .price {
        display: block;
        font-size: 2.7rem;
        font-weight: 600;
        opacity: 0.8;

    }

    .installments {
        display: block;
        opacity: 0.9;
        font-size: 1.3rem;
    }


    .info-purchase .classification {
        position: absolute;
        bottom: 20px;
        right: 4px;
        font-size: 1rem;
    }

    .info-purchase .stars {
        display: none;


    }

    hr {
        display: none;
    }

    body h3 {
        font-size: 1.7rem;
        margin-left: 35px;
        margin-top: 0;
    }

    .more-curses {
        margin: 40px auto;
        width: 96%;
        display: flex;
        align-items: center;
    }

    .more-curses article p {
        font-size: 0.8rem;
        height: 138px;
    }

    .more-curses article button {
        width: 200px;
    }

    .more-curses article {
        height: auto;
        width: 90%;
    }

    .more-curses {
        height: auto;
    }

    input[type="search"] {
        width: 229px;
        height: 42px;
        padding-left: 20px;
    }

    input[type="search"]::placeholder {
        font-size: 1rem;
    }

    h4 {
        font-size: 1.4rem;
    }

    .apply {
        width: 111px;
        height: 42px;
        font-size: 1rem;
    }

}

/* DESKTOP */

@media (min-width: 1900px) and (max-width: 2100px) {



    ul {
        width: 661px;

    }

    ul article {
        width: 656px;
    }

    main aside {
        width: 280px;
    }

    input[type="search"] {
        width: 130px;
    }

    main aside button {
        width: 180px;
    }

    .more-curses {
        width: 75%;
    }

    .more-curses {
        width: 80%;
    }

}