body {
    transition: font-size 0.5s ease, width 0.5s ease, height 0.5s ease;
}

main {
    height: 100%;
    width: 85%;
    margin: 30px auto 130px;
}

.style-progress-bar {
    width: 100%;
    font-size: 1rem;
    margin: 30px auto;
}

#progress-bar {
    border: 1px solid var(--primary-color);
    height: 9px;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 1em;
}

#current-progress {
    background: linear-gradient(to right, #501785, #8b53e6);
    height: 100%;
    width: 0;
    border-radius: inherit;
    transition: width 0.5s ease;
    /* Adiciona uma transição suave na largura */
}

h1 {
    width: 60%;
    font-size: 2.3rem;
    margin: 40px auto 0;
    text-align: center;
    color: var(--button-color);
    font-weight: 600;
}

span {
    text-align: center;
    display: block;
    opacity: 0.8;
    margin: 10px 0 50px 0;
}

.warning {
    color: red;
    font-size: 1rem;
    font-weight: 500;
    text-align: left;

}

.error {
    border: 1px solid red  !important;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 80%;
    justify-content: space-between;
    cursor: pointer;
    gap: 70px;
}

section .card {
    background-color: rgb(247, 247, 247);
    width: 320px;
    padding: 80px 10px 80px 10px;
    border: 1px solid grey;
    border-radius: 15px;
    transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

form {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section .card h2 {
    margin: auto;
    padding: 5px 0;
    text-align: center;
    margin-bottom: 40px;
    border-radius: 5px;
    width: 110px;
    font-size: 1.2rem;
    border: 1px solid var(--primary-color);
    color: var(--button-color);
}

#form-step-5 {
    width: 70%;
    margin: auto;
}

#form-step-1 {
    width: 70%;
  margin: auto;
}

textarea {
    width: 100%;
    min-width: 200px;
    max-width: 100%;
    height: 150px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    box-sizing: border-box;
    margin: 40px auto 0;
}

textarea:focus {
    outline: none; /* Remove a borda ao focar */
    border-color: var(--primary-color); /* Cor da borda ao focar */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Sombra ao focar */
}

#continue-four {
    margin-top: 40px;
}

#continue {
    margin-top: 40px;
}


section .card p {
    text-align: center;
    opacity: 0.8;
    line-height: 20px;
    margin-bottom: 40px;
    height: 50%;
    opacity: 0.8;
}

.hidden {
    display: none;
}

section .card ion-icon {
    margin: auto;
    display: block;
    font-size: 2.4rem;
    color: var(--button-color);
}

.card:hover {
    transform: scale(1.060);
}

.input {
    margin-top: 40px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 12px;
    border-color: rgba(128, 128, 128, 0.226);
    padding: 10px;
}

.input::placeholder {
    color: var(--primary-color);
    opacity: 0.8;
}

button {
    display: block;
    margin: auto;
    height: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 3px 30px;
    color: var(--button-color);
    background-color: transparent;
    border: 1px solid var(--button-color);
    cursor: pointer;
}

button:active {
    border-color: #8A2BE2;
}

button:hover {
    background-color: var(--button-color);
    color: white;
    transition: background 0.2s ease-in-out;
}

.select-style {
    color: var(--font-color);
    font-size: 1rem;
    margin: 80px auto 50px;
    display: block;
    width: 70%;
    height: 43px;
    border-radius: 12px;
    border-color: rgba(128, 128, 128, 0.226);
    padding: 10px;
}

.hours.error {
    border-color: red; /* Define a cor da borda como vermelha em caso de erro */
}

.hours {
    width: 420px;
    height: 58%;
    margin: 70px auto;
    border: 1px solid rgba(128, 128, 128, 0.349);
    border-radius: 5px;
    padding: 40px 20px;
    margin-bottom: 30px;
    background-color: rgb(247, 247, 247);
}

.error-radio label {
    color: red; 
}

.error-select select {
    border-color: red;
}

.hours input[type="checkbox"] {
    display: inline-block;
    margin-right: 5px;
    width: auto;
}

.hours label {
    opacity: 0.7;
    cursor: pointer;
    margin: 10px;
    display: inline-block;
    width: auto;
    font-size: 1.1rem;
}
 

option {
    font-size: 1rem;
    color: black;
}

option:hover {
    background-color: #892be254;
}

/* Adicione esta classe ao CSS para ocultar inicialmente os formulários */
.form-hidden {
    display: none;
}



/* Animação de fadeIn */
.fade-in {
    animation: fadeInAnimation 0.7s ease forwards;
    opacity: 0;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Media Queries */

@media (min-width: 320px) and (max-width: 700px) {
    h1 {
        width: 80%;
        font-size: 1.6rem;
    }
    .hours {
        width: 90%;
        height: 70%;
    }
    span {
        font-size: 0.9rem;
    }
    .input {
        width: 90%;
    }
    .select-style {
        width: 90%;
        margin-top: 118px;
    }
}

@media (min-width: 1720px) and (max-width: 2000px) {
    .cards {
        width: 54%;
    }
    main {
        margin: 30px auto 240px;
    }
}
/* 

