main {
    margin-left: 5%;
    display: flex;
    padding-top: 5vh;
    height: 100%;
}

h1 {
    margin-left: 30px;
    color: var(--font-color);
    border-bottom: 1px solid var(--font-color);
    font-size: 1.8rem;
}

input[type=search] {
    height: 30px;
    border: none;
    width: 380px;
    background-color: var(--pop-up-color);
    padding: 10px;
    border-radius: 10px 10px 10px 0;
}


input[type=search]:focus {

    background-color: var(--pop-up-color);
    border: none;

}

.filter-image {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 135px;
    top: 114px;
    user-select: none;
}

input[type=search]::placeholder {
    color: var(--font-color);
}

.top-information {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 20px auto;

}

/* Estilizando o botão */
.dropdown-btn {
    align-items: left;
    background-color: rgb(185, 185, 185);
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    color: rgb(97, 97, 97);
    border: none;
    cursor: pointer;
    width: 220px;
    text-align: left;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilizando o dropdown */
.dropdown-content {
    border: 1px solid black;
    width: 220px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    font-size: 0.9rem;
}

.inspiration {
    height: 120px;
    display: flex;
    background-color: rgb(196, 196, 196);
    justify-content: space-around;
    align-items: center;
}

.inspiration img {
    width: 30px;
    margin-right: -60px;
}

.inspiration>span {
    width: 300px;
    font-size: 0.9;
    opacity: 0.7;
}

.next {
    gap: 20px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.next a {
    color: rgb(123, 123, 230);
    padding-bottom: 2px;
    border-bottom: 1px solid rgb(123, 123, 230);
    font-size: 1.2rem;

}

.next div {
    cursor: pointer;
    border: 1px solid grey;
    border-radius: 50%;
    align-items: center;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
}


/* Estilizando as opções do dropdown */
.dropdown-content div {
    color: black;

    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

/* Mudando a cor do item selecionado no dropdown */
.dropdown-content div:hover {
    background-color: #ddd;
}

/* Mostrando o dropdown quando o botão é clicado */
.dropdown-btn:focus+.dropdown-content {
    display: block;
}


#filtering {
    margin-top: 20px;
    background-color: var(--grey-color);
    width: 270px;
    border-radius: 10px;
    grid-area: filter;
}

#filtering div:last-child,
#filtering-mobile div:last-child {
    border: none;
}

#filtering div {
    padding: 5px 0 10px 5px;
    border-bottom: 1px solid rgb(128, 128, 128);
}

#filtering-mobile div {
    display: none;
    padding: 5px 0 10px 5px;
    border-bottom: 1px solid rgb(128, 128, 128);
}

#filtering h3 {
    font-size: 1rem;
    opacity: 0.9;
}

#closeFilter {
    display: none;
}

#filtering h2 {
    font-size: 1.2rem;
    padding: 5px;
    opacity: 0.8;
    border-bottom: 1px solid rgb(128, 128, 128);
    opacity: 0.7;
}

#filtering-mobile h2 {
    display: none;
}

#filtering label {
    opacity: 0.5;
    margin: 5px 0;
    font-size: 0.8rem;
    cursor: pointer;
    user-select: none;
}

#filtering input {
    all: unset;
    background-color: rgb(207, 207, 207);
    padding: 7px;
    margin-left: 5px;
    cursor: pointer;
}

#filtering input:checked,
#filtering-mobile input:checked {
    background-color: rgb(102, 102, 102);
}

#filtering input[type="radio"],
#filtering-mobile input[type="radio"] {
    border-radius: 50%;
}


/* CARD DE CURSO */

.curses {
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
    position: relative;
    gap: 20px;
    height: 100%;

}

.course {
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    width: 430px;
    height: 200px;
    padding: 20px;
    cursor: pointer;


    border: 1px solid rgba(160, 160, 160, 0.548);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.course img {
    width: 30%;
    height: 30%;
    height: auto;
    object-fit: contain;
}

.info {
    border-radius: 5px;
    margin-top: 10px;
}

.info h3 {
    color: var(--font-color);
    max-width: 240px;
    width: 240px;
    font-size: 1.1rem;
    height: 30px;

    margin-bottom: 25px;
}

.details {
    margin: 15px 0;
    display: flex;
    align-items: stretch;
    justify-content: center;

    gap: 5px;
}

.details span {
    user-select: none;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding: 2px 7px;
    display: block;
    color: #8a2be2;
    margin-bottom: 5px;
    font-weight: 200;
    opacity: 0.7;
    font-size: 0.7rem;



}

.learn-more,
.add-cart {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background-color: rgba(255, 255, 255, 0.479);
    padding: 5px 10px;
    border-radius: 10px;
    padding: 7px 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline;
    margin: auto;
}

/* SAIBA MAIS */

.learn-more:hover,
.add-cart:hover {
    color: white;
    background-color: var(--primary-color);
    backdrop-filter: opacity(0.5);

}


.add-cart {
    vertical-align: middle;
    text-align: center;
    padding: 0;
    padding: 3px 18px;
    font-size: 0.9rem;

}

.add-cart ion-icon {
    align-self: center;
    vertical-align: middle;
}



.course-info {
    display: none;
    position: absolute;
    margin-top: 20px;
    z-index: 3;
    background-color: var(--pop-up-color);
    padding: 10px;
    width: 380px;
    height: 280px;

    border-radius: 5px;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.course-info h3 {
    font-size: 1.1rem;
    margin: 20px 0 5px 0;

}

.course-info p {
    font-size: 1rem;
    color: var(--font-color);
    height: 167px;
    padding-bottom: 15px;

}

.course-info hr {
    border: none;
    background-color: grey;
    height: 1px;
}

.additional-information {
    display: flex;
    justify-content: space-between;
    margin: 7px 0;
    position: relative;
}

.triangle {
    height: 10px;
    width: 10px;

    border-left: 15px solid transparent;
    /* Largura do triângulo */
    border-right: 15px solid transparent;
    /* Largura do triângulo */
    border-bottom: 20px solid var(--pop-up-color);
    /* Altura do triângulo e cor de fundo */

    margin-top: -26px;
    margin-left: 60px;
}

#price {
    font-size: 1.1rem;
    font-weight: 600;
}

#user {
    margin-left: 5px;
}

.course-info span {
    position: absolute;
    right: 0;
    top: 20px;
    font-size: 0.8rem;
    opacity: 0.7;

}

#filtering ion-icon {

    margin: 0 10px;
}


/* MOBILE */

@media (min-width: 400px) and (max-width: 800px) {

    .dropdown-btn {
        margin-left: 30px;
    }

    h1 {
        font-size: 1.1rem;
        margin: 10px 8px;
        padding: 0;
    }

    .no-scroll {
        overflow: hidden;
    }

    .add-cart {
        font-size: 1.2rem;
    }

    #background {
        position: fixed;
        top: 0;
        right: 100%;
        width: 100%;
        height: 100%;
        z-index: 3;
        background-color: rgba(0, 0, 0, 0.247);
    }

    #closeFilter {
        z-index: 4;
        position: absolute;
        right: 5px;
        top: 16px;
        font-size: 2.3rem;
    }

    #background.show-filter {
        right: 0;
    }

    #closeFilter {
        display: block;
    }

    #filtering-mobile h2 {
        font-size: 1.2rem;
        padding: 12px 6px;
        border-bottom: 1px solid rgb(128, 128, 128);
        opacity: 0.7;
    }

    #filtering-mobile {
        margin-top: 20px;
        background-color: var(--grey-color);
        width: 100%;
        position: absolute;
        z-index: 5;
        overflow-y: scroll;
        top: -17px;
        left: 0;
        height: 100%;
    }

    #filtering-mobile input {
        all: unset;
        background-color: rgb(207, 207, 207);
        padding: 10px;
        margin-left: 5px;
        margin-right: 10px;
        cursor: pointer;
    }

    #filtering-mobile h3 {
        font-size: 1.1rem;
        margin: 10px 0;
    }

    #filtering-mobile label {
        opacity: 0.5;
        margin: 5px 0;
        font-size: 1.3rem;
        line-height: 40px;
        cursor: pointer;
        user-select: none;
    }

    #filtering-mobile div {
        display: block;
    }

    main {
        width: 100%;
        margin: 0;
        flex-direction: column;
    }

    #filtering div {
        display: none;
    }

    #filtering>h2 {
        border: none;
        height: 39px;
    }

    #adaptforyou {
        margin-left: 30px;
    }

    #filtering {
        margin-left: 30px;
    }

    .course {
        border-radius: 10px;
        display: flex;
        justify-content: space-around;
        width: 610px;
        height: 200px;
        padding: 20px;
    }

    #filtering h2 {
        font-size: 1.3rem;
    }

    .curses {
        margin-top: 30px;
        margin-left: 0;
        align-items: center;
        justify-content: center;
    }

    .top-information {
        margin: 10px 10px;
        display: flex;
        align-items: center;
        width: 96%;
    }

    input[type=search] {
        height: 25px;
        width: 200px;
    }

    .next ion-icon {
        width: 20px;
    }

    .next {
        background-color: rgb(247, 247, 247);
    }

    .inspiration img {
        width: 25px;
        margin-right: -3px;
    }

    .dropdown-content {
        left: 33px;
    }

    .inspiration>span {
        width: 100px;
        font-size: 0.7rem;
    }


}

/* MOBILE */
@media (min-width: 1200px) and (max-width: 1900px) {
    main {
        margin-left: 5%;
        padding-top: 5vh;
    }

    h1 {
        margin-left: 30px;
        font-size: 1.8rem;
    }

    input[type=search] {
        width: 380px;
    }

    .top-information {
        width: 80%;
    }

    .dropdown-btn {
        width: 220px;
    }

    .dropdown-content {
        width: 220px;
    }

    .inspiration img {
        margin-right: -60px;
    }

    .next {
        margin-top: 30px;
    }

    .curses {
        margin-left: 40px;
    }

    .course {
        width: 430px;
    }

    .info h3 {
        max-width: 240px;
    }

    .learn-more,
    .add-cart {
        padding: 7px 18px;
    }

    .course-info {
        width: 400px;
    }
}