html, body {
    height: 100%;
}


/* ===== HEADER - NAV ===== */

/* Linha superior do header */
.top-line {
    background-color: var(--second-color);
    height: 2.2vh;
    width: 100%;
    border: none;
}

/* Configurações gerais */
html {
    background-color: rgb(247, 247, 247);
}

body {
    overflow-x: hidden; 
}

.status {
   position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgb(33, 212, 33);
    border-radius: 50%;
    top: 45px;
    right: 24px;
}

/* Estilização da barra de navegação */
nav {
    padding: 5px 0 4px 0;
    margin: 0 95px;
    border-bottom: 2px solid #c5b8d9;
    height: 72px;
    display: flex;
    justify-content: space-between;
    color: var(--second-color);
    position: relative;
    
}

/* Remover decoração padrão dos links */
a {
    text-decoration: none;
}

/* Estilização dos links de navegação */
nav a {
   
    color: var(--second-color);
    text-decoration: none;
    font-weight: 500;
}

nav a:hover {
    color: var(--hover-nav);
}

#logo {
    cursor: pointer;
    object-fit: contain;
}

.profile-login-desktop {
    width: 35px;
    border-radius: 50%;
    cursor: pointer;
}


.profile-login-mobile {
    width: 45px;
    padding: 10px 0;
    border-radius: 50%;
    display: none;
}

.info_profile {
    width: 333px;
    height: 309px;
    background-color: rgb(218, 218, 218);
    position: absolute;
    top: 81px;
    right: -31px;
    padding: 0 15px;
    z-index: 5;
    border-radius: 5px;

}

.header_profile {
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 12px;
    position: relative;
}

.header_profile div p {
    color: black;
    opacity: 0.6;
    font-size: 0.9rem;
    font-weight: 700;
}

.header_profile div {
    width: 100%;
}

.user_type {
    font-size: 0.9rem;
    font-weight: 700;
    margin: 0;
    text-align: left;
    color: var(--cta-about-courses);
}

.header_profile ion-icon {
    position: absolute;
    cursor: pointer;
    font-size: 1.5rem;
    top: 0;
    right: 0;
    color: rgb(78, 78, 78);
}

.header_profile img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.edit {
    width: 70px;
    height: 20px;
    font-size: 0.7rem;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    color: white;
    margin-left: 55%;
    align-items: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Adaptar conforme ela tem ou nao descricao */
.profile_info {
    margin-top: 10px;
    background-color: rgb(255 255 255 / 70%);
    height: 130px;
    padding: 5px;
    margin-bottom: 5px;
}

.profile_info span {
    font-weight: 700;
    font-size: 0.8rem;
    text-align: left;
    margin: 5px 0;
    color: black;
    opacity: 0.8;
    text-transform: uppercase;
}

.profile_info p {
    font-size: 0.7rem;
    color: black;
    opacity: 0.6;
    height: 85px;
    margin: 9px 0;
}

.profile_info ul {
    display: block;
}

.profile_info ion-icon {
    font-size: 0.7rem;
}

.profile_info li {
    font-size: 0.8rem;
    display: inline;
    align-self: center;
    color: black;
    opacity: 0.7;
}

.profile_info ion-icon {
    font-size: 1rem;
    color: var(--primary-color);
    opacity: 0.7;
}

.membersince {
    display: inline;
    font-size: 0.6rem;
    color: black;
    opacity: 0.5;
    text-align: left;
    text-transform: uppercase;
}

.hidden {
    display: none;
  }
  

.triangle2 {
    height: 10px;
    width: 10px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid rgb(218, 218, 218);
    margin-top: -19px;
    margin-left: 253px;
}

.logout {
    color: rgba(255, 0, 0, 0.555);
    border: 1px solid rgba(255, 0, 0, 0.555);
    border-radius: 5px;
    padding: 1px 16px;
    font-size: 0.7rem;
    margin-left: 31%;
}

.logout:hover {
    border: none;
    background-color: rgba(255, 0, 0, 0.555);
    color: white;
}

.icon {
    display: flex;
    gap: 5px;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--primary-color);
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 17px;
}

.nav-items {
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

#menu-icon {
    display: none;
}

nav li {
    font-weight: 300;
    font-size: 1rem;
}

nav .cart {
    width: 30px;
    color: grey;
    height: 30px;
}

/* Botões de login e cadastro */
.login,
.cadastro,
.sign-in,
.login-mobile {
    border-radius: 13px;
    font-family: "Poppins SemiBold", "Poppins", sans-serif;
    color: white;
    font-weight: 400;
    font-size: 1em;
    padding: 4px 20px;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    opacity: 1;
    height: 35px;
    margin-left: 5px;
}

.cadastro:hover {
    background-color: var(--second-color);
    color: white;
    border: 2px solid var(--second-color);
}

.login,
.login-mobile {
    background-color: var(--button-color);
}

.cadastro,
.sign-in {
    background: transparent;
    color: var(--button-color);
    border: 2px solid var(--button-color);
}

/* ===== FOOTER ===== */

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: var(--primary-color);
    padding: 5px 0 5px 45px;
    z-index: 3;
    padding: 30px;
    height: 25vh;
    position: relative;
    padding-left: 70px;

}

footer span {
    position: absolute;
    font-size: 10px;
    font-weight: 300;
    bottom: 0;
    right: 0;
    margin-right: 10px;
    margin-bottom: 10px;

}

footer img {
    width: 7%;
}

footer ul {
    columns: 3;
    list-style-type: none;
 
}

footer>ul>a {
    text-decoration: none;
}

footer li {
    cursor: pointer;
    font-weight: 300;
    font-size: 0.9rem;
    margin-left: 20px;
    margin-bottom: 7px;
}

footer p {
    margin-left: 2%;
}

footer a {
    color: white;
}

footer a:hover {
    text-decoration: underline;
}


.contato {
    background-color: white;
    border-radius: 13px;
    font-size: 0.9em;
    color: var(--primary-color);
    font-weight: 400;
    padding: 6px 22px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    opacity: 1;
    margin: 0 auto;

}

.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;

}

.socials {
    border-bottom: 1px solid white;
    margin: 0;
    width: 80%;
    display: flex;
}

.socials>ion-icon {
    cursor: pointer;
    margin: 10px;
    height: 50px;
    width: 50px;
    color: white;
}

/* ===== SCROLLBAR ===== */

/* Estilização da barra de rolagem */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: none;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--second-color);
    border-radius: 3px;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-color);
}

/* ===== MOBILE NAVBAR ===== */

.no-scroll {
    overflow: hidden;
}

#mobile-nav {
    position: fixed;
    flex-direction: column;
    top: 0;
    right: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 14;
    background: rgba(0, 0, 0, 0.425);
    transition: background 1s ease-in;

}

.menu {
    left: 0;
    background-color: white;
    position: absolute;
    top: 0;
    width: 68vw;
    height: 750px;
    text-align: left;
}

nav img.profile {
    display: none;
}

#mobile-nav ion-icon {
    color: rgb(26, 26, 26);
    margin: 3% 0 0 1%;
}

#mobile-nav ul {
    padding: 20px 0;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid grey;
}

.menu li {
    font-weight: 300;
    font-size: 1.4rem;
    text-align: left;
}


#mobile-nav ul:last-child {
    border: none;
}

.menu ul span {
    color: black;
    font-size: 1.7rem;

}

.menu a {
    font-weight: 300;
    text-align: left;

}

#mobile-nav a:hover {
    color: rgba(209, 209, 209, 0.712);
}


#mobile-nav.show-menu {
    right: 0;

}

.sign-in,
.login-mobile {
    width: 116px;
    height: 35px;
}

.enter {
    display: flex;
    padding: 10px 0;
    justify-content: space-around;
    border-bottom: 2px solid rgba(209, 209, 209, 0.651);
    margin: 0 8px;
    align-items: center;
    gap: 3px;

}

#mobile-nav .active {
    color: rgba(255, 255, 255, 0.76);
    border-bottom: 2px solid rgba(209, 209, 209, 0.651);
}

#mobile-nav img:last-of-type(1) {
    margin: 0 0 5% 0;
    width: 12%;
}


/* MOBILE */
@media (min-width: 320px) and (max-width: 800px) {
    

    /* HEADER MOBILE */
    #closeMenu {
        position: absolute;
        left: 102%;
        top: 0%;
        background-color: aliceblue;
        padding: 2px;
        border-radius: 50%;
    }

    
    div .status {
        display: none;
    }

    .menu ion-icon {
        width: 46px;
        height: 46px;
        display: block;
    }

    #menu-icon {
        display: block;
        width: 46px;
    }

    .profile-login-desktop {
        display: none;

    }

    .profile-login-mobile {

        display: block;

    }



    nav ion-icon {
        width: 50px;
        height: 50px;
    }

    nav {
        background-color: white;
        height: 4.3rem;
        margin: 0;
        padding: 10px;
        color: var(--second-color);
        justify-content: space-between;
        align-items: center;
    }

    .sign-in {
        background-color: white;
    }

    .sign-in,
    .login-mobile {
        display: block;
    }

    nav button {
        display: none;
    }

    nav ul:nth-of-type(1) {
        display: none;
    }

    nav img {
        height: 100%;
        object-fit: contain;
    }

    /* FOOTER MOBILE */
    footer {
        height: 580px;
        text-align: center;
        flex-direction: row-reverse;
        justify-content: space-between;
        position: relative;
        padding: 5px 20px;
    }

    footer li {
        font-size: 1.3rem;
    }

    footer img {
        width: 30%;
    }

    footer span {
        position: absolute;
        font-size: 0.8rem;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .socials>ion-icon {
        margin: 10px;
        height: 40px;
        width: 40px;
    }

    footer ul {
        columns: 1;
        text-align: left;
        margin-left: -70%;
        margin-bottom: 81px;
    }

    .container {
        margin-top: auto;
    }
}