main {
    width: 90%;
    margin: 40px auto;
    
}

h1 {
    color: var(--title-bold);
    border-bottom: 1px solid var(--title-bold);
    font-size: 1.8rem;
    padding: 0 10px;
    margin-left: 20px;
}

input[type=search] {
    height: 30px;
    border: none;
    width: 380px;
    background-color: var(--pop-up-color);
    padding: 10px;
    border-radius: 10px 10px 10px 0;
}

input[type=search]:focus {
    background-color: var(--pop-up-color);
    border: none;
}

.filter-image {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 10px;
    top: 7px;
    user-select: none;
}

input[type=search]::placeholder {
    color: var(--cta-titles);
}

.top-information {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}

.top-information>div {
    position: relative;
}

h2 {
    color: var(--cta-titles);
    opacity: 0.8;
    margin-bottom: 10px;
    margin-top: 40px;

}

.nextButton,
.prevButton {
    background: none;
    border: none;
    font-size: 3rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

main > section {
    width: 100%;
    display: flex;
    align-items: center;
    transition: all 0.5s ease;
}

.slider {
    display: flex;
    gap: 20px;
    width: 100%;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    transition: all 0.5s ease;
}

.slider article {
    width: 578px;
    height: 247px;
    border-radius: 10px;
    background-color: var(--third-color);
    display: flex;
    cursor: pointer;
    transition: all 0.5s ease;
    scroll-snap-align: start;
    flex-shrink: 0;
}

.slider article img {
    border-radius: 0 10px 10px 0;
    width: 230px;
    object-fit: cover;
}

.slider article span {
    color: var(--span-color);
    font-size: 1rem;
    font-weight: bold;
    margin-left: 15px;

}

.info-mentoring {
    font-size: 0.8rem;
    margin-left: 15px;
    opacity: 0.8;
    height: 120px;
    overflow: hidden;
}

.slider article h3 {
    color: var(--title-bold);
    margin-left: 15px;
    margin-top: 8px;
    margin-bottom: 5px;
    font-size: 1.1rem;
}

.learn-more {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background-color: transparent;
    border-radius: 10px;
    padding: 5px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: auto;
    margin-bottom: 4px;
}

.stars-icon {
    display: inline;
    color: var(--primary-color);
}

.learn-more:hover {
    color: white;
    background-color: var(--primary-color);
    backdrop-filter: opacity(0.5);

}

.classification {
    font-size: 0.8rem;
    opacity: 0.8;
    margin-left: 5px;
}

.avaliation {
    color: var(--primary-color);
    margin-left: 20px;
    font-size: 1rem;
}

/* INFO MENTORIA */

.mentoring-info {
    display: none;
    position: absolute;
    margin-top: 20px;
    z-index: 4;
    background-color: white;
    border: 1px solid grey;
    padding: 10px;
    width: 380px;
    height: 250px;
    cursor: default;


    border-radius: 5px;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.mentoring-info h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 10px 10px;
}


.mentoring-info p {
    font-size: 1rem;
    font-weight: 700;
    color: var(--second-font);
    margin-bottom: 5px;
    margin-left: 10px;

}

.mentoring-info span:nth-of-type(1) {
    font-size: 1rem;
    font-weight: 400;
    margin-left: 10px;
}

.mentoring-info hr {
    margin-top: 10px;
    border: none;
    background-color: grey;
    height: 1px;
}


.additional-information {
    margin: 10px 0;
    text-align: right;

}

.triangle {
    height: 10px;
    width: 10px;
    border-left: 15px solid transparent;
    /* Largura do triângulo */
    border-right: 15px solid transparent;
    /* Largura do triângulo */
    border-bottom: 20px solid white;
    /* Altura do triângulo e cor de fundo */
    margin-top: -26px;
    margin-left: 60px;
}


@media (min-width: 320px) and (max-width: 700px) {

    input[type=search] {
        height: 25px;
        width: 200px;
    }

    main {
        width: 100%;
    }

    h1 {
        font-size: 1.1rem;
        margin: 10px 8px;
        padding: 0;
    }

    article {
        width: 80%;
        height: 587px;
        display: flex;
        flex-direction: column-reverse;
        margin: auto;
    }

    .slider {
        width: 80%;
        margin: auto;
    }

    article img {
        border-radius: 10px 10px 0 0;
        width: 100%;
        height: 100%;
        height: 350px;
        object-fit: cover;
    }


    article h3 {
        height: 30px;
        font-size: 1.2rem;
    }

    article span {
        font-size: 1.1rem;

    }

    .info-mentoring {
        font-size: 0.859rem;
        height: 140px;
    }

    .learn-more {
        margin-top: 10px;
    }

    .avaliation {
       margin-left: 10px;
    }


}