/* privacidade.css */

main {
    text-align: left;
    margin: auto;
    width: 70%;
}

h2,
h3 {
    color: rgb(68, 68, 68);
    margin-top: 20px;
}

p,
ul {
    color: rgb(68, 68, 68);
    margin: 10px 0;
    padding: 0 15px;
}

ul {
    list-style-type: disc;
    margin-left: 30px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}