main {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    width: 85%;
    margin: 40px auto;
    padding: 0;
}

h2 {
    color: var(--primary-color);
    font-size: 24px;
    margin-bottom: 10px;
}

main p {
    margin-bottom: 20px;
}

a {
    color: blue;
    text-decoration: underline;
   
}