/* Estilos gerais */
main {
    background: rgb(247, 247, 247) url(https://i.ibb.co/gwnksyN/Home.png) no-repeat center center/cover;
}

/* Seletor de seção */
section {
    margin: auto;
    max-width: 73%;

}


/* Estilos para a seção "Above the Fold" */
.abovethefold {
    padding: 30px 0;
    display: flex;
    border-bottom: 2px solid #c5b8d9;
    gap: 60px;
}

.abovethefold img {
    width: 38%;
}

/* Estilos para as imagens "smilewomen2" e "smilewomen3" */
.smilewomen2,
.smilewomen3 {
    width: 32%;
    object-fit: contain;
}

/* Estilos para o título na descrição */
.desc h2 {
    display: inline;
    text-align: left;
    font-size: 1.4rem;
    color: var(--font-color);
}

/* Estilos para a descrição */
.desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    width: 500px;
}

/* Estilos para o parágrafo na descrição e em "contact-us" */
.desc p {
    font-size: 1.2rem;
    opacity: 0.7;

}

.seethecurses {
    background-color: var(--pop-up-color);
    /* Fundo rosado */
    padding: 20px 20px 70px 20px;

    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 30px 30px 30px 0;
    margin: 70px 0;
    position: relative;
}

.seethecurses>button {

    position: absolute;
    bottom: 0.5;
}

.photo div {
    width: 170px;
    height: 170px;
    /* Altura dos quadrados brancos */
    background-color: white;
    /* Cor dos quadrados brancos */
    border-radius: 10px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.sobrementoria {
    margin: 70px 0;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.mentoriaresumo h2 {
    color: var(--font-color);
    font-size: 1.8rem;

}

.mentoriaresumo p {
    opacity: 0.72;
    font-size: 1.1rem;
    line-height: 25px;

}

.sobrementoria img {
    max-width: 350px;
    width: 400px;
    object-fit: contain;

}


.mentoriaresumo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.seethecurses>section {
    text-align: center;
    position: relative;
    cursor: pointer;
}

.seethecurses>section>img {
    position: absolute;
    width: 140px;
    z-index: 4;
    bottom: 10%;
    left: 40%;
    transition: transform 0.6s ease;

}

.seethecurses>section>img:hover {
    transform: translateY(-10%);
    /* Eleva o elemento em 5 pixels ao passar o mouse */
}

.seethecurses figcaption {
    color: var(--font-color);
}

.button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #812ec2;
    /* Cor do botão */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/* Estilos para a seção "Cursos Home" */
.cursoshome {
    display: flex;
    margin-top: 5%;
}

/* Estilos para os botões */
.cursoshome button,
button a {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 900;
    font-size: 1rem;
    background-color: var(--button-color);
    padding: 7px 23px;
    border: none;
    border-radius: 13px;
    cursor: pointer;
    opacity: 1;
    margin: 0 auto;
}

.cursoshome button:hover {
    opacity: 0.9;
}

/* Estilos para a seção "Aside" */
aside {
    gap: 40px;
    padding: 50px 150px;
    font-weight: 800;
    font-size: 1.25rem;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid #c5b8d9;
}

/* Estilos para a seção "ONU" */
.onu {
    text-align: center;
    font-size: 1.5em;
    padding: 2.3em;
    margin-bottom: 20px;


}

.onu img {
    width: 12%;
    margin: 10px;
    border-radius: 5px;
}

.onu .onu-mini {
    width: 15%;
    margin-bottom: 40px;
    left: 20%;
}

.onu p:nth-of-type(2) {
    color: var(--font-color);
    font-weight: 700;
    margin-bottom: 2em;
}

/* Estilos para os links em "Aside" */
aside>span {
    margin: auto;
}

aside a {
    color: var(--span-color);
}


/* Estilos para o botão de rolar para o topo */
#scrollToTopBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    z-index: 5;
    position: fixed;
    bottom: 20px;
    right: -60px;
    height: 40px;
    width: 40px;
    background-color: var(--button-color);
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    transition: right 0.2s ease;
}

#scrollToTopBtn.show {
    right: 20px;
    transition: right 0.2s ease;
}

/* MOBILE */

@media (min-width: 400px) and (max-width: 800px) {

    section {
        margin: auto;
        max-width: 90%;
    }

    .sobrementoria {
        padding-top: 20px;
        flex-direction: column-reverse;
    }

    .sobrementoria>img {
        max-width: 65%;
        width: 600px;
        margin: auto;
    }

    .mentoriaresumo {
        width: 100%;
    }


    .mentoriaresumo h2 {
        width: 100%;
        color: var(--font-color);
        font-size: 2rem;
    }

    .mentoriaresumo p {
        opacity: 0.72;
        font-size: 1.2rem;
    }

    main {
        padding-top: 30px;
    }

    .abovethefold,
    .cursoshome {
        flex-direction: column;
        align-items: center;
    }

    .abovethefold img,
    .cursoshome img {
        max-width: 65%;
        width: 400px;
        object-fit: contain;
        margin: auto;
    }

    .abovethefold p,
    .cursoshome p {
        font-size: 1rem;
        margin-bottom: 13px;
    }

    .abovethefold h2,
    .cursoshome h2 {
        font-size: 1.2rem;
    }

    .desc {
        gap: 10px;
    }

    .cursoshome {
        align-items: center;
        flex-direction: column-reverse;
        gap: 20px;
    }

    .cursoshome img {
        max-width: 290px;
        width: 50%;
    }

    aside {
        align-items: center;
        font-size: 1.125rem;
        padding: 2.3rem 1.6rem;
    }

    aside>span {
        margin: 0;
        text-align: center;
    }

    .onu {
        display: flex;
        flex-direction: column;
        font-size: 1.3rem;
        align-items: center;
    }

    .onu img,
    .onu img.onu-mini {
        max-width: 100%;
        width: 100%;
        margin-bottom: 30px;
    }

}

/* Media queries para telas maiores */
@media (min-width: 1500px) and (max-width: 1900px) {

section {
    max-width: 90%;
}

.desc h2 {
    font-size: 1.6rem;
}

.desc p {
    font-size: 1.4rem;
}

.seethecurses {
    margin: 5% auto;
}

.cursoshome {
    margin-top: 10%;
}

.cursoshome button,
button a {
    font-size: 1.2rem;
}

aside {
    padding: 30px 100px;
}

.onu {
    font-size: 1.8rem;
}

}
