main {
    padding: 10px 0;
    width: 90%;
    margin: auto;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding-bottom: 110px;
    transition: all 0.5s ease;
}

.header {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

h3 {
    color: var(--cta-titles);
    transition: all 0.5s ease;
}

.classes article {
    background-color: var(--second-color);
    border-radius: 5px;
    padding: 5px;
    width: 360px;
    margin-bottom: 20px;
    transition: all 0.5s ease;
}

.classes article h4 {
    font-weight: 400;
    opacity: 0.8;
    font-size: 1.3rem;
    transition: all 0.5s ease;
}

.classes article span {
    opacity: 0.8;
    font-size: 1rem;
    transition: all 0.5s ease;
}

.list-classes {
    border: 1px solid rgb(197, 197, 197);
    border-radius: 10px;
    background-color: #e5d6ff;
    list-style-type: none;
    width: 360px;
    transition: all 0.5s ease;
}

.list-classes li {
    display: flex;
    justify-content: space-between;
    padding: 13px 10px;
    border-bottom: 1px solid rgb(197, 197, 197);
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.5s ease;
}

.list-classes li:last-child {
    border: none;
}

.list-classes li span {
    font-size: 0.7rem;
    align-self: flex-end;
    transition: all 0.5s ease;
}

.next-class {
    margin-top: 20px;
    padding: 3px 25px;
    border-radius: 10px;
    width: 160px;
    height: 40px;
    font-weight: 600;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    color: white;
    border: none;
    cursor: pointer;
    background-color: var(--button-color);
    transition: all 0.5s ease;
}

iframe {
    border-radius: 10px;
    width: 100%;
    height: 84%;
    transition: all 0.5s ease;
}

.video-section {
    width: 75%;
    border-right: 1px solid rgb(182, 182, 182);
    padding-right: 25px;
    transition: all 0.5s ease;
}

.video-section article {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    height: 138px;
    background-color: var(--third-color);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: all 0.5s ease;
}

.video-section article h4 {
    font-size: 1.1rem;
    color: var(--cta-titles);
    transition: all 0.5s ease;
}

.video-section article p {
    margin-top: 7px;
    opacity: 0.8;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}

.style-progress-bar {
    width: 540px;
    font-size: 1rem;
    transition: all 0.5s ease;
}

#progress-bar {
    background-color: rgb(139, 153, 156);
    height: 3px;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 1em;
    transition: all 0.5s ease;
}

#current-progress {
    background-color: var(--primary-color);
    height: inherit;
    width: 20%;
    border-radius: inherit;
    transition: all 0.5s ease;
}

.go-back {
    background-color: transparent;
    border: none;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    gap: 4px;
    align-items: center;
    font-weight: 600;
    margin-left: 62px;
    margin-top: 10px;
    transition: all 0.5s ease;
}

/* MOBILE */

@media (min-width: 320px) and (max-width: 700px) {

    .classes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header {
        width: 90%;
        flex-direction: column;
    }

    .style-progress-bar {
        width: 100%;
        font-size: 0.9rem;
    }

    .go-back {
        background-color: transparent;
        align-items: left;
        margin: 20px 5px;
    }

    main {
        flex-direction: column;
        width: 95%;
        gap: 20px;
        margin: auto;
        justify-content: center;
    }

    .video-section article {
        height: 190px;

    }

    .video-section {
        width: 100%;
        margin: auto;
        padding: 0;
        border: none;
        padding-bottom: 50px;
        border-bottom: 1px solid rgb(182, 182, 182);
    }

    iframe {
        border-radius: 10px;
        width: 100%;
        height: 283px;
    }

}