<title>LadieWork - Cadastro</title>
<link rel="stylesheet" href="css/cadastro.css">

</head>

<body>
    <%- include("../partial/header") %>

        <main id="app">
            <form>
                <div class="form-step active">
                    <h2>Bem-Vinda a LadieWork</h2>
                    <span class="step1">Fale um pouco sobre você!</span>
                    <div class="content">
                        <div class="input-wrapper">
                            <label for="name">Nome</label>
                            <input id="name" name="name" type="text" placeholder="Como prefere ser chamado?"
                                autocomplete="name">
                        </div>
                        <div class="input-wrapper">
                            <label for="email">E-mail</label>
                            <input id="email" name="email" type="email" placeholder="Digite seu e-mail" required>
                        </div>
                        <div class="input-wrapper">
                            <label for="password">Senha</label>
                            <input id="password" name="password" type="password" placeholder="Digite sua senha"
                                required>
                        </div>
                    </div>
                    <div class="button-wrapper justify-end">
                        <button type="button" class="btn" data-action="next">PRÓXIMO</button>
                    </div>
                </div>
                <div class="form-step hide">
                    <h2>Bem-Vinda a LadieWork</h2>
                    <span class="step1">Algumas informações básicas</span>
                    <div class="content">
                        <div class="input-wrapper">
                            <label for="birthday-date">Data de nascimento</label>
                            <input id="birthday-date" name="birthday-date" type="date" max="2007-12-31" required>
                        </div>
                        <div class="input-wrapper">
                            <label for="phone">Número de telefone</label>
                            <input id="phone" name="phone" type="tel" placeholder="Digite seu número"
                                onkeypress="return /\d/.test(event.key)" required>
                        </div>
                        <div class="input-wrapper">
                            <label for="gender">Gênero</label>
                            <input id="gender" name="gender" type="text" placeholder="Informe seu gênero">
                        </div>
                    </div>
                    <div class="button-wrapper">
                        <button type="button" class="btn secondary" data-action="prev">VOLTAR</button>
                        <button type="button" class="btn primary" data-action="next">CONTINUAR</button>
                    </div>
                </div>
                <div class="form-step hide">
                    <h2>Bem-Vinda a LadieWork</h2>
                    <span class="step1">Personalize seu perfil</span>
                    <div class="profile">
                        <div class="pre-visualization">
                            <img src="images/profilevisualitation.svg" alt="Sua foto de perfil">
                            <p>Sua foto de perfil</p>
                        </div>
                        <div>
                            <p>Pré-visualização da imagem</p>
                            <img id="profileImage" src="images/blank.svg" alt="Pré-visualização da imagem">
                            <button type="button" id="editar" name="editar"> Faça upload de uma foto</button>
                            <input type="file" id="inputImage" accept="image/*" style="display: none;" required>
                        </div>
                    </div>
                    <div class="content">
                        <div class="input-wrapper">
                            <label for="project">Monte uma breve biografia</label>
                            <textarea id="project" name="project" placeholder="Fale um pouco sobre você"></textarea>
                            <span class="iagree">Ao clicar em "Tudo pronto", você concorda com os nossos <a
                                    href="">Termos de Uso</a> e nossa <a href="">Política de Privacidade</a></span>
                        </div>
                    </div>
                    <div class="button-wrapper">
                        <button type="button" class="btn secondary" data-action="prev">VOLTAR</button>
                        <button class="btn primary" type="submit">TUDO PRONTO</button>
                    </div>
                </div>
            </form>
        </main>

        <script src="js/cadastro.js"></script>