<title>Carrinho</title>

<link rel="stylesheet" href="css/carrinho.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


</head>

<body>
    <%- include("../partial/header") %>
    <main>
            <h1>Meu carrinho</h1>
         
            <section class="main-section">
                <ul class="purchased-courses" id="courses-list">
                   
                        <li class="purchased">
                            <img src="images/2787860-1024x1024.jpg" alt="">
                            <div class="info-purchase">
                                <a href="informacao_da_mentoria"></a> <h2>Marketing Digital</h2>  </a>
                                <p>Leticia</p>
                            </div>
                            <div class="price-and-trash">
                                <p class="show-price">R$<span class="price-course">100</span></p>
                                <ion-icon name="trash-outline" class="trash-icon"></ion-icon>
                            </div>
                        </li>

                      
                </ul>
                <aside>
                    <h2>Total:</h2>
                    <p>R$ 100,00</p>
                    <br>
                    <span class="discont">4x R$ 25</span>
                    <% if (logado) { %>
                    <button onclick="window.location.href = 'finalizarcompra'">Finalizar compra</button>
                    <% } else { %>
                        <button onclick="window.location.href = 'login'">Finalizar compra</button>
                        <% } %>
                 
                </aside>
            </section>


            <hr>
        <h3>Mais cursos para você</h3>
        <aside class="more-curses">


            <article>
                <img src="images/templatephoto.svg" alt="">
                <div class="more-curses-info">
                    <h4>Como criar sua empresa</h4>
                    <p>Este curso abrange desde os fundamentos do empreendedorismo até estratégias avançadas de
                        marketing e gestão..</p>
                </div>
            </article>

            <article>
                <img src="images/templatephoto.svg" alt="">
                <div class="more-curses-info">
                    <h4>Como criar sua empresa</h4>
                    <p>Este curso abrange desde os fundamentos do empreendedorismo até estratégias avançadas de
                        marketing e gestão..</p>
                </div>
            </article>


            <article>
                <img src="images/templatephoto.svg" alt="">
                <div class="more-curses-info">
                    <h4>Como criar sua empresa</h4>
                    <p>Este curso abrange desde os fundamentos do empreendedorismo até estratégias avançadas de
                        marketing e gestão..</p>
                </div>
            </article>




        </aside>


        </main>

        

        <script src="js/carrinho.js"></script>