<title>Comprados</title>

<link rel="stylesheet" href="css/comprados.css">

</head>

<body>
    <%- include("../partial/header") %>
    <section>
        <aside>
            <h1>Minhas compras</h1>
            <button id="mentoring-button" class="selected">Mentorias</button>
            <button id="courses-button">Cursos</button>
        </aside>

        <main>
            <h2 id="purchased-title">- Mentorias -</h2>
            <article>
                <ul id="main-content-mentoring">
                    <li class="card">
                        <img src="images/muié.png" alt="">
                        <div>
                            <a href="#"></a>
                            <h3>Mentoria para o Sucesso Profissional</h3>
                            <p>Esta mentoria é projetada para orientar jovens profissionais em suas jornadas de carreira, fornecendo insights práticos e estratégias para alcançar metas pessoais e profissionais.</p>
                            <small>Por: <span id="user">Leticia</span></small>
                        </div>
                    </li>
                </ul>

                <ul id="main-content-courses" class="none">
                    <li class="card">
                        <img src="images/muié.png" alt="">
                        <div>
                            <a href="#"></a>
                            <h3>Curso Prático para Superar Desafios</h3>
                            <p>Este curso prático oferece ferramentas e estratégias comprovadas para desenvolver resiliência pessoal e profissional, capacitando os participantes a enfrentar desafios com confiança e determinação.</p>
                        </div>
                    </li>
                    <li class="card">
                        <img src="images/muié.png" alt="">
                        <div>
                            <a href="#"></a>
                            <h3>Curso Inspirador de Inovação</h3>
                            <p>Descubra e desenvolva sua criatividade através deste curso dinâmico, projetado para inspirar novas ideias e abordagens inovadoras em qualquer campo ou setor.</p>
                        </div>
                    </li>
                </ul>
            </article>
        </main>
    </section>

    <script src="js/comprados.js"></script>