<title>Uma nova jornada!</title>

<link rel="stylesheet" href="css/create.css">

</head>

<body>

    <%- include("../partial/header") %>

    <main>

        <div class="style-progress-bar">
            <div id="progress-bar">
                <div id="current-progress"></div>
            </div>
        </div>

        <h1>Vamos começar!</h1>
        <span>Escolha qual modalidade deseja criar...</span>


        <section id="cards" class="cards">

            <article id="card-curse" class="card">
                <h2>Curso</h2>

                <p>Transforme suas ideias em cursos com um clique. Comece a criar de forma dinâmica e intuitiva
                    agora mesmo!</p>

                <ion-icon name="book-outline"></ion-icon>

            </article>



            <article id="card-mentoring" class="card">
                <h2>Mentoria</h2>

                <p>Transforme sua experiência em oportunidades de aprendizado. Inicie sua jornada de mentoria
                    com um simples clique e comece a orientar e inspirar outros de forma dinâmica e criativa!"
                </p>

                <ion-icon name="newspaper-outline"></ion-icon>
            </article>

        </section>

        <input type="text" placeholder="Exemplo: Aprenda Marketing Digital" id="input" class="none" minlength="10"
            maxlength="100" required>


        <select name="Marketing" class=" none" id="category">
            <option value="Marketing">Marketing</option>
            <option value="Empreendedorismo">Empreendedorismo</option>
            <option value="TI">TI</option>
            <option value="Logística">Lógistica</option>
        </select>



        <article id="hours" class="hours none">
            <label>
                <input type="checkbox" name="" id="nao_sei_ainda">
                Não sei ainda
            </label>
            <br>

            <label>
                <input type="checkbox" name="" id="ocupado">
                Ocupado (1 - 2 horas)
            </label>
            <br>

            <label>
                <input type="checkbox" name="" id="pouco_tempo">
                Tenho pouco tempo (2 - 4 horas)
            </label>
            <br>

            <label>
                <input type="checkbox" name="" id="tempo_sobra">
                Tenho tempo de sobra (5 horas ou mais)
            </label>
        </article>

        <button id="continue" class="none">Continuar</button>
        <button id="continue-two" class="none">Continuar</button>
        <button id="continue-three" class="none">Criar</button>


    </main>


    <script src="js/create.js"></script>
