<title>Curso de Marketing Digital</title>

<link rel="stylesheet" href="css/infocursos.css">

</head>

<body>
    <%- include("../partial/header") %>

        <main>
            <aside class="more-curses">

                <article>
                    <h2>Outros Cursos:</h2>
                    <img src="images/empreendedorismo-digital.jpg" alt="">
                    <h3>Empreendedorismo Digital</h3>

                    <span>Maria Silva</span>

                    <p>Descubra o poder do empreendedorismo digital feminino neste curso dinâmico com Maria Silva.
                        Aprenda
                        estratégias eficazes para lançar e expandir seu negócio online, desde a construção de uma marca
                        pessoal forte até a dominação das mídias sociais e técnicas avançadas de marketing digital.
                    </p>

                    <button>Saiba Mais</button>



                </article>




            </aside>

            <section>

                <h1>Curso de Marketing Digital</h1>
                <span class="subtitle">Aprenda como vender pela internet!</span> <br>
                <div class="stars-icon"> <ion-icon name="star"></ion-icon> <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon> <ion-icon name="star"></ion-icon> <ion-icon
                        name="star-half"></ion-icon>
                </div>
                <span id="votes">1.450 votos</span>

                <div class="what-learn">
                    <h3>Você aprenderá</h3>
                    <ul>
                        <li><ion-icon name="checkmark-outline"></ion-icon>Estratégias</li>
                        <li><ion-icon name="checkmark-outline"></ion-icon>Engajamento</li>
                        <li><ion-icon name="checkmark-outline"></ion-icon>Análise de Dados</li>
                        <li><ion-icon name="checkmark-outline"></ion-icon>Otimização</li>
                    </ul>
                </div>

                <span class="updated"><ion-icon name="calendar-clear-outline"></ion-icon>Atualizado em 30/01/2024</span>

                <h2>Sobre o Curso</h2>

                <p id="more-info-curse">Este curso abrangente oferece uma compreensão prática e profunda do marketing
                    digital, desde os
                    fundamentos até as estratégias avançadas. Com instrutores especializados, projetos práticos e
                    exemplos
                    do mundo real, você aprenderá a criar campanhas eficazes, conquistar seu público-alvo e otimizar
                    suas
                    estratégias para obter resultados excepcionais. Prepare-se para dominar a arte da conexão online e
                    impulsionar sua carreira no mundo do marketing digital!</p>

                <div class="modulo">
                    <h3 class="modulo-titulo">Introdução ao Marketing Digital <span>3 aulas - 37:05</span> </h3>
                    <ul class="aulas">
                        <li><ion-icon name="videocam-outline"></ion-icon> <a class="aula" href="#">O que é Marketing
                                Digital?</a> <span class="duracao">- 10:23</span></li>
                        <li><ion-icon name="videocam-outline"></ion-icon> <a class="aula" href="#">Importância do
                                Marketing Digital</a> <span class="duracao">- 14:45</span></li>
                        <li><ion-icon name="videocam-outline"></ion-icon> <a class="aula" href="#">Estratégias
                                Básicas</a> <span class="duracao">- 12:57</span></li>
                    </ul>
                </div>
                <div class="modulo">
                    <h3 class="modulo-titulo">Estratégias de Conteúdo <span>4 aulas - 48:00</span></h3>
                    <ul class="aulas">
                        <li><ion-icon name="videocam-outline"></ion-icon> <a class="aula" href="#">Criação de
                                Blogs</a> <span class="duracao">- 11:30</span></li>
                        <li><ion-icon name="videocam-outline"></ion-icon> <a class="aula" href="#">Vídeo
                                Marketing</a> <span class="duracao">- 15:20</span></li>
                        <li><ion-icon name="videocam-outline"></ion-icon> <a class="aula" href="#">SEO e Otimização
                                de Conteúdo</a> <span class="duracao">- 9:48</span></li>
                        <li><ion-icon name="videocam-outline"></ion-icon> <a class="aula" href="#">E-mail
                                Marketing</a> <span class="duracao">- 13:05</span></li>
                    </ul>
                </div>
                <div class="modulo">
                    <h3 class="modulo-titulo">Mídias Sociais e Publicidade Online <span>6 aulas - 1hr 18min</span></h3>
                    <ul class="aulas">
                        <li><ion-icon name="videocam-outline"></ion-icon> <a class="aula" href="#">Gerenciamento de
                                Redes Sociais</a> <span class="duracao">- 16:40</span></li>
                        <li><ion-icon name="videocam-outline"></ion-icon> <a class="aula" href="#">Anúncios no
                                Facebook</a> <span class="duracao">- 18:12</span></li>
                        <li><ion-icon name="videocam-outline"></ion-icon> <a class="aula" href="#">Anúncios no
                                Instagram</a> <span class="duracao">- 10:55</span></li>
                        <li><ion-icon name="videocam-outline"></ion-icon> <a class="aula" href="#">Google Ads</a>
                            <span class="duracao">- 14:37</span>
                        </li>
                        <li><ion-icon name="videocam-outline"></ion-icon> <a class="aula" href="#">LinkedIn para
                                Negócios</a> <span class="duracao">- 11:20</span></li>
                        <li><ion-icon name="videocam-outline"></ion-icon> <a class="aula" href="#">Twitter Ads</a>
                            <span class="duracao"> 9:15</span>
                        </li>
                    </ul>
                </div>

                <span class="havementory" >Esse curso possui uma mentoria!</span>
                <button class="get_mentory">Acessar mentoria</button>
            </section>


            <aside class="price-curse">
                <section>

                    <img src="images/worker.png" alt="">
                    <p id="total-price">R$ 100</p>
                    <span class="parcelas"> 4x de R$25,00</span> <br>

                    <button id="add-cart">Adicionar ao carrinho</button> <br>
                    <button id="buy-now" onclick="window.location.href = 'finalizarcompra'">Comprar agora</button>

                    <div class="includes">
                        <span>Este curso inclui:</span>
                        <p><ion-icon name="time-outline"></ion-icon> 3 horas de video sob demanda</p>
                        <p><ion-icon name="document-text-outline"></ion-icon> 5 exercícios</p>
                        <p><ion-icon name="refresh-outline"></ion-icon> Acesso total vitalício</p>
                        <p><ion-icon name="receipt-outline"></ion-icon>Certificado de conslusão</p>
                    </div>

                    <a href=""><span>Compartilhar</span></a>
                    <a href=""><span>Presentear</span></a>
                    <a href=""><span>Cupons</span></a>

                    <div><input type="search" placeholder="Código do cupom"><button class="apply">Aplicar</button></div>

                    <p class="ladie-ask">Ja pensou em ajudar mais mulheres a alcançar grandes metas? </p>
                    <img src="images/logo.png" alt="">
                    <p class="beamentor" onclick="window.location.href = 'criar'">Seja uma mentora!</p>
                </section>

            </aside>


        </main>


        <script src="js/inforcursos.js"></script>