  <link rel="stylesheet" href="css/cursos.css">
  <title>Cursos - LadieWork</title>
  <link rel="icon" sizes="41x22" href="images/favicon.png" type="image/png">
  <meta name="description"
    content="Descubra uma ampla seleção de cursos para mulheres, abrangendo uma variedade de categorias. Explore opções gratuitas e pagas, projetadas para capacitá-la em todas as áreas da vida. Encontre o curso perfeito para você e embarque em sua jornada de aprendizado hoje mesmo!">


  </head>

  <%- include("../partial/header") %>

    <aside class="top-information">
      <h1>Principais Cursos</h1>

      <div>
        <input type="search" id="searchInput" placeholder="Pesquisar..."> <img class="filter-image"
          src="images/filterimage.svg" alt="">
      </div>

    </aside>
    <main>

      <aside id="filtragem">
        
        <div class="dropdown-container">
          <select class="dropdown-btn" id="dropdownOptions">
            <option value="mais-curtidos">Mais curtidos</option>
            <option value="novos">Novos</option>
            <option value="para-voce">Para você</option>
            <option value="por-preco">Por preço</option>
          </select>
          <ion-icon name="caret-down-outline" class="dropdown-icon" id="dropdownIcon"></ion-icon>
        </div>


        <article id="filtering">
          <h2 class="filter-toggle" onclick="toggleFilter()"><ion-icon name="filter-outline"></ion-icon>Filtrar</h2>
          <div class="stars">
            <h3>Clasificações</h3>
            <input type="radio" id="estrelas5" name="classificacao" value="5">
            <label for="estrelas5">4,5 Estrelas ou mais</label><br>
            <input type="radio" id="estrelas4" name="classificacao" value="4">
            <label for="estrelas4">4,0 Estrelas ou mais</label><br>
            <input type="radio" id="estrelas3" name="classificacao" value="3">
            <label for="estrelas3">3,5 Estrelas ou mais</label><br>
            <input type="radio" id="estrelas2" name="classificacao" value="2">
            <label for="estrelas2">3,0 ou cima</label><br>
          </div>
          <div class="video-duration">
            <h3>Duração de vídeo</h3>
            <input type="checkbox" id="ate1hora" name="duracao" value="1">
            <label for="ate1hora">Até 1 hora</label><br>
            <input type="checkbox" id="de1a3horas" name="duracao" value="3">
            <label for="de1a3horas">De 1 a 3 horas</label><br>
            <input type="checkbox" id="de3a6horas" name="duracao" value="6">
            <label for="de3a6horas">De 3 a 6 horas</label><br>
            <input type="checkbox" id="maisde6horas" name="duracao" value="6+">
            <label for="maisde6horas">De 6 a 7 horas</label><br>
            <input type="checkbox" id="12horas" name="duracao" value="7+">
            <label for="maisde6horas">12 horas</label><br>
          </div>
          <div class="price">
            <h3>Preço</h3>
            <input type="checkbox" id="pago" name="pago" value="1">
            <label for="pago">Pago</label><br>
            <input type="checkbox" id="gratuito" name="gratuito" value="3">
            <label for="gratuito">Gratuito</label><br>
          </div>
          <div class="category">
            <h3>Categoria</h3>
            <input type="checkbox" id="design" name="design" value="1">
            <label for="design">Design</label><br>
            <input type="checkbox" id="ti" name="ti" value="3">
            <label for="ti">TI</label><br>
            <input type="checkbox" id="financas" name="financas" value="1">
            <label for="financas">Finanças</label><br>
            <input type="checkbox" id="marleting" name="marleting" value="3">
            <label for="marleting">Marketing</label><br>
          </div>


        </article>

        <div id="background">
          <article id="filtering-mobile">
            <h2 class="filter-toggle"><ion-icon name="filter-outline"></ion-icon>Filtrar</h2>
            <ion-icon name="close" id="closeFilter" onclick="closeFilter()"></ion-icon>
            <div class="stars">
              <h3>Classificações</h3>
              <input type="radio" id="estrelas5-mobile" name="classificacao" value="5">
              <label for="estrelas5-mobile">4,5 Estrelas ou mais</label><br>
              <input type="radio" id="estrelas4-mobile" name="classificacao" value="4">
              <label for="estrelas4-mobile">4,0 Estrelas ou mais</label><br>
              <input type="radio" id="estrelas3-mobile" name="classificacao" value="3">
              <label for="estrelas3-mobile">3,5 Estrelas ou mais</label><br>
              <input type="radio" id="estrelas2-mobile" name="classificacao" value="2">
              <label for="estrelas2-mobile">3,0 ou cima</label><br>
            </div>
            <div class="video-duration">
              <h3>Duração de vídeo</h3>
              <input type="checkbox" id="ate1hora-mobile" name="duracao" value="1">
              <label for="ate1hora-mobile">Até 1 hora</label><br>
              <input type="checkbox" id="de1a3horas-mobile" name="duracao" value="3">
              <label for="de1a3horas-mobile">De 1 a 3 horas</label><br>
              <input type="checkbox" id="de3a6horas-mobile" name="duracao" value="6">
              <label for="de3a6horas-mobile">De 3 a 6 horas</label><br>
              <input type="checkbox" id="maisde6horas-mobile" name="duracao" value="6+">
              <label for="maisde6horas-mobile">De 6 a 7 horas</label><br>
              <input type="checkbox" id="12horas-mobile" name="duracao" value="7+">
              <label for="12horas-mobile">12 horas</label><br>
            </div>
            <div class="price">
              <h3>Preço</h3>
              <input type="checkbox" id="pago-mobile" name="pago" value="1">
              <label for="pago-mobile">Pago</label><br>
              <input type="checkbox" id="gratuito-mobile" name="gratuito" value="3">
              <label for="gratuito-mobile">Gratuito</label><br>
            </div>
            <div class="category">
              <h3>Categoria</h3>
              <input type="checkbox" id="design-mobile" name="design" value="1">
              <label for="design-mobile">Design</label><br>
              <input type="checkbox" id="ti-mobile" name="ti" value="3">
              <label for="ti-mobile">TI</label><br>
              <input type="checkbox" id="financas-mobile" name="financas" value="1">
              <label for="financas-mobile">Finanças</label><br>
              <input type="checkbox" id="marketing-mobile" name="marketing" value="3">
              <label for="marketing-mobile">Marketing</label><br>
            </div>
          </article>
        </div>


      </aside>

        <section class="curses" id="courses-container">

          <div class="course">
            <div class="info">
              <h3>Curso de Marketing Digital</h3>
              <div class="details">
                <span>60 horas</span>
                <span>Marketing Digital</span>
                <span>Avançado</span>
              </div>
              <button class="learn-more" onclick="window.location.href = 'sobreocurso'">Saiba Mais</button>
              <button class="add-cart" data-id="curso-marketing-digital"> 
                <ion-icon name="cart-outline"></ion-icon>
                <ion-icon name="add-outline"></ion-icon>
              </button>
              <div class="course-info" id="ti-info2">
                <div class="triangle"></div>
                <h3>Sobre o curso</h3>
                <p id="about-curse">Domine a criar campanhas eficazes para aumentar a visibilidade da marca e gerar leads qualificados.</p> <!-- Colocar maximo -->
                <hr>
                <div class="additional-information">
                  <p id="user">Sophia Moreira</p>
                  <p id="price">R$ 100</p>
                  <span>4x de $25,00</span>
                </div>
              </div>
            </div>
            <img src="images/curso2.png" alt="Foto do curso">
          </div>

          <div class="course">
            <div class="info">
              <h3>Curso de Design</h3>
              <div class="details">
                <span>20 horas</span>
                <span>Design</span>
                <span>Intermediário</span>
              </div>
              <button class="learn-more" onclick="window.location.href = 'sobreocurso'">Saiba Mais</button>
              <button class="add-cart" data-id="curso-design"> 
                <ion-icon name="cart-outline"></ion-icon>
                <ion-icon name="add-outline"></ion-icon>
              </button>
              <div class="course-info" id="ti-info">
                <div class="triangle"></div>
                <h3>Sobre o curso</h3>
                <p id="about-curse">Oferece uma abordagem aprofundada em conceitos e técnicas de design, abrangendo áreas como design gráfico, design de produto e design de experiência do usuário.</p> <!-- Colocar maximo -->
                <hr>
                <div class="additional-information">
                  <p id="user">Joana Souza</p>
                  <p id="price">R$ 79</p>
                  <span>4x de $19.75</span>
                </div>
              </div>
            </div>
            <img src="images/curso1.png" alt="Foto do curso">
          </div>

          <div class="course">
            <div class="info">
              <h3>Curso de Programação</h3>
              <div class="details">
                <span>30 horas</span>
                <span>Programação</span>
                <span>Básico</span>
              </div>
              <button class="learn-more" onclick="window.location.href = 'cursoinfo'">Saiba Mais</button>
              <button class="add-cart" data-id="curso-programacao"> 
                <ion-icon name="cart-outline"></ion-icon>
                <ion-icon name="add-outline"></ion-icon>
              </button>
              <div class="course-info" id="ti-info">
                <div class="triangle"></div>
                <h3>Sobre o curso</h3>
                <p id="about-curse">Oferece uma introdução aos fundamentos da codificação e desenvolvimento de software.</p> <!-- Colocar maximo -->
                <hr>
                <div class="additional-information">
                  <p id="user">Maria Batista</p>
                  <p id="price">R$ 129</p>
                  <span>4x de $32.25</span>
                </div>
              </div>
            </div>
            <img src="images/curso1.png" alt="Foto do curso">
          </div>
        
          <div class="course">
            <div class="info">
              <h3>Curso de Banco de Dados</h3>
              <div class="details">
                <span>35 horas</span>
                <span>Banco de Dados</span>
                <span>Avançado</span>
              </div>
              <button class="learn-more" onclick="window.location.href = 'cursoinfo'">Saiba Mais</button>
              <button class="add-cart" data-id="curso-banco-de-dados"> 
                <ion-icon name="cart-outline"></ion-icon>
                <ion-icon name="add-outline"></ion-icon>
              </button>
              <div class="course-info" id="ti-info">
                <div class="triangle"></div>
                <h3>Sobre o curso</h3>
                <p id="about-curse">Explora conceitos e técnicas complexas para gerenciamento eficaz de dados em ambientes corporativos.</p> <!-- Colocar maximo -->
                <hr>
                <div class="additional-information">
                  <p id="user">Fernanda Vasconcelos</p>
                  <p id="price">R$ 159</p>
                  <span>4x de $39.75</span>
                </div>
              </div>
            </div>
            <img src="images/curso2.png" alt="Foto do curso">
          </div>

        </section>

    </main>


    <nav class="next">
      <div><ion-icon name="chevron-back-outline"></ion-icon> </div>
      <a href="" class="current">1</a>
      <a href="">2</a>
      <a href="">3</a>


      <div><ion-icon name="chevron-forward-outline"></ion-icon></div>
    </nav>

    <aside class="inspiration"><img src="images/up.svg " alt=""><span>Nossos cursos estão prontos para te
        levar ao próximo nivel!</span>
      <img src="images/up.svg " alt=""><span>Faça a escolha que melhor se adeque a você!</span><img
        src="images/megaphone.svg " alt=""><span>Confie no seu potencial e conquiste sua vaga
        desejada!</span>
    </aside>

    <script src="js/menu-mobile.js"></script>
   