<title>Finalizar Compra - LadieWork</title>

<link rel="stylesheet" href="css/finalizarcompra.css">

</head>

<body>

    <header>
        <hr class="top-line">

        <nav>
            <!-- Logo -->
            <img id="logo" onclick="window.location.href = '/'" src="images/logo.svg" alt="LadieWork">

            <a href="/">Cancelar</a>
    </header>

    <h1>Finalizar compra</h1>
    <main>

        <section>

            <div class="card">
                <h3 class="modulo-titulo">Cartão de crédito/débito</h3>
                <form class="card-info">
                    <div class="form-group">
                        <div>
                            <label for="cpf">CPF</label>
                            <input type="text" id="cpf" placeholder="Digite o CPF" required>
                        </div>
                        <div>
                            <label for="cnpj">CNPJ</label>
                            <input type="text" id="cnpj" placeholder="Digite o CNPJ" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="numero-cartao">Número do Cartão</label>
                        <input type="number" id="numero-cartao" placeholder="Digite o número do cartão" required>
                    </div>

                    <div class="form-group">
                        <div>
                            <label for="prazo">Prazo de Validade</label>
                            <input type="number" id="prazo" placeholder="MM/AA" required>
                        </div>
                        <div>
                            <label for="cvc">CVC/CVV</label>
                            <input type="text" id="cvc" placeholder="Digite o CVC/CVV" required>
                        </div>
                    </div>
                </form>
            </div>

            <label class="radio-container">
                <input type="radio" name="pagamento" id="pix">
                <span class="checkmark"></span>Pix
            </label>
        </section>


        <aside>

            <h2>Resumo</h2>
            <span>Preço original:</span>
            <span>R$ 100</span> <br>
            <hr>

            <span class="total">Total</span>
            <span class="total-value">R$ 100</span> <br>
            <span class="service-terms">Ao concluir sua compra, você concorda com estes <a href="">Termos de
                    Serviço.</a></span>
            <button class="proceed">Prosseguir</button>

        </aside>
    </main>
    <aside class="order-details">

        <h2>Detalhes do pedido</h2>
        <ul>
            <li>
                <div><img src="images/worker.png" alt=""><span>Marketing Digital</span>
                </div>
                <div class="curse-price"><span></span>R$ 100<span></span></div>

            </li>


        </ul>
    </aside>


    <script src="js/finalizar.js"></script>