<header>
  <hr class="top-line">

  <nav>
    <img id="menu-icon" src="images/menu.svg" alt="" onclick="openMenu()">

    <nav id="mobile-nav" class="hidden">

      <div class="menu">
        <hr class="top-line">
        <ion-icon name="close" id="closeMenu" onclick="closeMenu()"></ion-icon>

        <div class="enter">

          <% if (logado) { %>
            <img id="profileImageMobile" src="images/profilephoto.svg" alt="" class="profile-login-mobile">

            <% } else{ %>

              <button class="login-mobile" onclick="window.location.href = 'login'">Login</button>
              <button class="sign-in" onclick="window.location.href = 'cadastrar'">Cadastro</button>

              <% } %>
        </div>

        <ul>
          <li>
            <a href="carrinho">Carrinho</a>
          </li>
          <% if (logado) { %>

            <li><a href="criar">Ensine na Ladiework</a></li>

            <% } else { %>

              
              <% } %>
                <li>
                  <a href="mentorias">Mentoria</a>
                </li>

                <li>
                  <a href="cursos">Cursos</a>
                </li>

        </ul>

        <ul>
          <span>Mais Populares</span>
          <a href="">
            <li>Marketing</li>
          </a>
          <a href="">
            <li>Programação</li>
          </a>
          <a href="">
            <li>Web Design</li>
          </a>
        </ul>

        <ul>
          <li>
            <a href="">Ajuda</a>
          </li>

          <li>
            <a href="">Configurações</a>
          </li>

          <% if (logado) { %>

          <li>
            <a href="/sair">Sair</a>
          </li>

  <% } else { %>

    <% } %>
        </ul>

      </div>
    </nav>


    <!-- Logo -->
    <img id="logo" onclick="window.location.href = '/'" src="images/logo.png" alt="LadieWork">


    <!-- Navigation Links -->
    <div class="nav-items">
      <a href="carrinho">
        <ion-icon name="cart-outline"></ion-icon>
      </a>
      <ul>
        <% if (logado) { %>

          <li><a href="criar">Ensine na Ladiework</a></li>

          <% } else { %>


            <% } %>

              <li><a href="mentorias">Mentorias</a></li>
              <li><a href="cursos">Cursos</a></li>
      </ul>

      <% if (logado) { %>

        <img id="profileImage" src="images/profilephoto.svg" alt="" class="profile-login-desktop">

        <% } else { %>

          <button class="login" onclick="window.location.href = 'login'">Login</button>
          <button class="cadastro" onclick="window.location.href = 'cadastrar'">Cadastro</button>

          <% } %>


    </div>

    <!-- Mobile Navigation List -->

   
</header>