
  <title>Formas de pagamento</title>
  <link rel="stylesheet" href="css/pagamentopix.css">

</head>

<body>

    <%- include("../partial/header") %>

  <main>
    <h1>Finalizar compra</h1>

    <div>
      <h3>Formas de pagamento</h3>
      <p class="final-value">Valor final: <span id="final-value">R$ 100</span> </p>
    </div>

    <section>
      <article id="pix-key" class="pix-key">

        <h4>Identifique sua transferência com um identificador único</h4>

        <label for="unique-identificator">Identificador único</label>
        <br>
        <input type="text" id="unique-identificator" class="unique" placeholder="ID">
        <button class="controlv" id="controlv">Copiar e colar ID</button>
        <button class="controlv">Enviar Código</button>

        <p><strong>1. </strong>Copie o ID de translação</p>
        <p><strong>2.</strong> Utilize o ID para identificar o pagamento PIX no seu aplicativo do banco</p>

        <button class="backtoid" id="use-code">Utlizar QR code</button>




      </article>

      <span>ou</span>

      <article class="none" id="qr-code">
        <h4>Leia o código QR usando seu aplicativo do banco</h4>
        <img src="images/qrcode-pix.png" alt="">

        <button class="backtoid" id="use-id">Voltar para o ID</button>

      </article>

    </section>

    <button class="back" onclick="window.location.href = 'finalizarcompra'"> <ion-icon name="caret-back-outline"></ion-icon> Voltar</button>

    <div class="menssage">
      <article>
        <p>Não se esqueça que seu pagameto pix se expira em --/--/-- </p>
      </article>
      <img src="../images/logo.svg" alt="">
    </div>
  </main>


  <script src="js/pagamentopix.js"></script>