<title>Quem somos?</title>

<link rel="stylesheet" href="css/quemsomos.css">

</head>

<body>
    <%- include("../partial/header") %>

        <main>
            <h2>Sobre Nós</h2>
            <p>Bem-vinda à <a href="https://ladiework.onrender.com/">LadieWork</a>. Somos uma equipe apaixonados pelo que
                fazemos e estamos comprometidos em oferecer serviços de qualidade para nossas clientes. Desde a nossa
                fundação, temos trabalhado incansavelmente para construir uma empresa que seja referência em nosso
                setor.</p>
            <p>Nossa missão é fornecer soluções personalizadas e eficazes para nossas clientes. Trabalhamos em estreita
                colaboração com nossas clientes para entender suas necessidades específicas e criar soluções sob medida
                para atender às suas expectativas. Nosso objetivo é superar as expectativas de nossas clientes em cada
                projeto que realizamos.</p>
            <p>Temos uma ampla gama de serviços que abrangem desde branding e marketing até soluções tecnológicas. Nossa
                equipe é composta por profissionais altamente qualificadas e experientes em cada uma dessas áreas.
                Juntas, trabalhamos em sinergia para oferecer soluções integradas e eficazes que impulsionam o sucesso
                de nossas clientes.</p>
            <p>Estamos constantemente evoluindo e aprendendo para fornecer o melhor serviço possível para nossas
                clientes. Valorizamos a transparência, honestidade e trabalho em equipe. Esperamos ter a oportunidade de
                trabalhar com você e ajudá-la a alcançar seus objetivos de negócios. Entre em contato conosco para saber
                como podemos ajudá-la hoje mesmo!</p>

        </main>