<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acesso Negado</title>
  <link rel="stylesheet" href="css/acessonegado.css">
</head>
<body>
    <div class="logo">
        <img src="images/logo-nervosa.svg" alt="Logo">
    </div>
    <div class="message">Acesso Negado!!</div>
    <div class="info">Você não tem acesso a esta página</div>
    <a href="/" class="home-btn">Voltar para tela inicial</a>
</body>
</html>
