<!DOCTYPE html>
<html lang="pt-BR">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
  <title>LadieWork - Chat</title>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/fixed.css">
  <link rel="stylesheet" href="css/chat.css">
  <link rel="icon" sizes="41x22" href="images/favicon.png" type="image/png">

  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


</head>

<body>
  <%- include("partial/header") %>
  <main>

    <aside class="chat">
      <header>
        <div><input type="search" name="" id=""><img src="images/l" alt=""></div> <img src="images/trespontinhos.svg"
          alt="">
      </header>

      <ul>
        <li>
          <img src="images/profilephoto.svg" alt="" class="chatphoto">
          <div class="last-time">
            <h3 id="user">Ana Paula</h3>
            <p>Você: Olá! É Sobre a....</p>

          </div>

          <p class="hours">Hoje 13:34</p>
        </li>
        <li>
          <img src="images/profilephoto.svg" alt="" class="chatphoto">
          <div class="last-time">
            <h3 id="user">Clara Fernandes</h3>
            <p>Você: Olá! Gostaria de...</p>

          </div>
          <p class="hours">Hoje 13:34</p>
        </li>
        <li>
          <img src="images/profilephoto.svg" alt="" class="chatphoto">

          <div class="last-time">
            <h3 id="user">Pricilla Souza</h3>
            <p>Podemos resolver isso...</p>

          </div>
          <p class="hours">Hoje 13:34</p>
        </li>
        <li>

          <img src="images/profilephoto.svg" alt="" class="chatphoto">
          <div class="last-time">
            <h3 id="user">Paula Moraes</h3>
            <p>Ótimo! nos falamos...</p>
          </div>

          <p class="hours">Hoje 13:34</p>
        </li>





      </ul>

    </aside>

    <section class="main">
      <header>
        <div>
          <h2 id="contact-name">Ana Paula</h2>
          <div class="status"></div>
        </div>

        <div>
          <ion-icon name="call-outline"></ion-icon>
          <ion-icon name="information-circle-outline"></ion-icon>
          <ion-icon name="ellipsis-vertical-outline"></ion-icon>
        </div>
      </header>
      <section class="main-profile">
        <article class="conversation" id="conversation">

          <div class="chat-container-mentor">
            <div class="chat-message">
              <img src="images/profilephoto.svg" alt="Foto do usuário" class="user-photo">
              <div class="message-content">
                <p>Olá! Como posso ajudar?</p>
              </div>
            </div>
          </div>

          <div class="chat-container-you">
            <div class="chat-message-you">
              <div class="message-content">
                <p>Boa tarde! É sobre minha mentoria.</p>
              </div>
              <img src="images/profilephoto.svg" alt="Foto do usuário" class="user-photo">
            </div>
          </div>

          <div class="send-message">

            <input type="file" id="file-input">
            <label for="file-input" class="photo-icon">
              <ion-icon name="document-outline"></ion-icon>
            </label>

            <input type="file" id="file-input">
            <label for="file-input" class="photo-icon">
              <ion-icon name="images-outline"></ion-icon>
            </label>

            <div class="box-of-message">
              <input type="text" id="message-input" placeholder="Conversar com Ana Paula" id="message-input">
              <button class="confirm-message" onclick="sendMessage()"><ion-icon
                  name="paper-plane-outline"></ion-icon></button>
            </div>

          </div>
        </article>

        <article class="about-profile">

          <header>
            <img src="images/profilephoto.svg" alt="">
            <div>
              <h3 class="mentor-name">Ana Paula</h3>
              <span>Mentora</span>
            </div>
          </header>

          <span>Pesquisar</span><span>Midia</span><span>Arquivos</span>

          <span class="bio">Bio:</span>
          <p>
            Ana Paula é uma profissional experiente com anos de experiência em cargos de liderança. Conhecida por sua
            cordialidade e proximidade, ela se destaca em guiar outras pessoas para o sucesso por meio de mentoria e
            apoio. Sua dedicação ao crescimento pessoal e profissional lhe rendeu uma reputação como uma conselheira
            confiável e motivadora em seu campo. Com uma paixão por ajudar os outros a atingir todo o seu potencial, Ana
            Paula é uma mentora respeitada que inspira as pessoas ao seu redor a lutar pela grandeza.</p>

          <button class="block">Bloquear</button>

        </article>
      </section>
    </section>

  </main>

  <script src="js/chat.js"></script>
</body>

</html>