<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/pagamentopix.css">
    <title>Pagamento Pix</title>
</head>

<body>
    <section>
        <main>
            <h1 class="finalizar">Finalizar a compra</h1>
            <h2 class="forma">Formas de pagamento</h2>
            <h2 class="valor">Valor final:</h2>
            <h4 class="dinheiro">R$100,00</h4>
            <section class="retangulo1">
                <h3 class="texto1">Identifique sua transferência com um
                    identificador único</h3>
                <hr class="linha1">
                <p class="texto2">Identificador único</p>
                <input type="text" name="id" placeholder="ID" class="id">
                <button class="copiar">Copiar e colar ID</button>
                <p class="texto3">1. copie o ID da transação</p>
                <p class="texto4">2. Utilize o ID para identificar o pagamento PIX no seu aplicativo do banco</p>
                <button class="botao">Utilizar o QR code</button>
            </section>
            <h3 class="ou">ou</h3>
            <section class="retangulo2">
                <h3 class="qr">Leia o código QR utilizando seu aplicativo do banco</h3>
                <hr class="linha2">
                <img src="../imagens/foto-vazia.svg" alt="foto-vazia" class="foto-vazia">
            </section>
            <button class="voltar">
                Voltar</button>
                    <section class="retangulo3">
                        <p class="data-expiracao">Não se esqueça que o seu pagamento pix expira em --/--/---- </p>
                        <img src="images/logo.png" alt="logo" class="logo1">
                    </section>
        </main>
    </section>

    <script src="js/pagamentopix.js"></script>


</body>

</html>
