<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/fixed.css">


    <%- include("../partial/" + pagina) %>


        <footer>
            <img src="images/logobranca.png" alt="LadieWork">

            <ul>
                <a href="">
                    <li>Ensinar na Ladiework</li>
                </a>
                <a href="mentorias.html">
                    <li>Mentorias</li>
                </a>
                <a href="cursos.html">
                    <li>Cursos</li>
                </a>
                <a href="">
                    <li>Quem Somos</li>
                </a>
                <a href="">
                    <li>Fale Conosco</li>
                </a>
                <a href="">
                    <li>Ajuda e Suporte</li>
                </a>
                <a href="">
                    <li>Chat</li>
                </a>
                <a href="">
                    <li>Termos</li>
                </a>
                <a href="">
                    <li>Política e Privacidade</li>
                </a>
                <a href="">
                    <li>Mapa do Site</li>
                </a>
                <a href="">
                    <li>Configurações</li>
                </a>
            </ul>

            <div class="container">
                <section class="socials">
                    <ion-icon name="mail-outline"></ion-icon>
                    <ion-icon name="logo-instagram"></ion-icon>
                    <ion-icon name="logo-facebook"></ion-icon>
                    <ion-icon name="logo-whatsapp"></ion-icon>
                </section>
                <button class="contato">Contato</button>
            </div>

            <span>© 2024 - LadieWork</span>
        </footer>

    
</body>
</html>