<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
    <title>Banco de Dados</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/fixed.css">
    <link rel="stylesheet" href="css/viewvideocurse.css">
    <link rel="icon" sizes="41x22" href="images/favicon.png" type="image/png">

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


</head>
<%- include("partial/header") %>
<body>

    <button id="go-back" class="go-back"> <ion-icon name="caret-back-outline"></ion-icon> Voltar</button>

    <div class="header">
        <h3>Banco de Dados: </h3>
        <div class="style-progress-bar">
            <span>20%</span>
            <div id="progress-bar">
               <div id="current-progress"></div>
            </div>
        </div>

    </div>
    <main>

        <section class="video-section">
            <iframe src="https://www.youtube.com/embed/m9YPlX0fcJk?si=T018VMTOVaIzWxgm" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

            <article>
                <h4>Descrição da aula:</h4>
                <p id="desc">Os alunos aprenderão a escrever consultas simples para recuperar dados de uma única tabela.
                </p>
            </article>
        </section>

        <section class="classes">
            <article>
                <h4>Aula atual:</h4>
                <span class="current-class">03. SQL básico: Consultas simples</span>
            </article>

            <ul class="list-classes">
                <li>01. Iniciando a estrutura <span>33min</span></li>
                <li>02. Modelagem de dados <span>10min</span></li>
                <li>03. Consultas simples <span>15min</span></li>
                <li>04. Joins e Subconsultas <span>12min</span></li>
                <li>05. Normalização de banco de dados <span>23min</span></li>
                <li>06. Introdução ao NoSQL <span>30min</span></li>
                <li>07. Segurança em bancos de dados <span>20min</span></li>
            </ul>

            <button id="next-class" class="next-class">Próxima aula <ion-icon
                    name="caret-forward-outline"></ion-icon></button>
        </section>
    </main>
    <%- include("partial/footer") %>


</body>


</html>